*.la
*.o
*.lo
.deps
.libs
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
gtkglobe
install-sh
libtool
ltmain.sh
m4
missing
stamp-h1
config.h.in
gthree-resources.c
gthree-resources.h
